@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.App {
  text-align: center;
  font-family: 'VT323', monospace;
  width: 100%;
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
}

.App-header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12%;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.Logo-Container {
  display: flex;
  justify-items: flex-start;
  width: 30%;
  height: 100%;
}
.App-logo {
  height: auto;
  width: auto;
}

img {
  margin: auto;
  height: auto;
  max-width: 70%;
}
.Contact-Us {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  align-content: center;

}
.OnePost {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.OnePost span {
  margin-top: 20px;
}
.QR-Code {
  background-image: url('../images/qrcode.JPG');
  height: 600px;
  width: 600px;
  margin: auto;
}
.App-main {
  min-height: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
}
footer {
  margin-top: 25px;
}
.App-footer {
  min-height: 10vh;
  background-color: #6229ca;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

.App-hero {
  width: 100%;
  min-height: 150px;
  position: relative;

  font-weight: 700;
  font-family: 'Titillium Web', 'Roboto', 'Avenir', 'Helvetica Neue', sans-serif;
  color: white;
  text-shadow: 2px 2px #000;
  font-size: 4rem;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-hero * {
  position: relative;
  margin: 0;
}

.App-hero small {
  color: #bbb;
  line-height: 3rem;
  font-size: 1.3rem;
  text-shadow: none;
}

.App-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-image: url("../images/hero.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 600px) {
  .App-hero {
    line-height: 2.5rem;
    font-size: 2.5rem;
  }
  .App-hero small {
    font-size: 1rem;
  }
}